
<div class="datoscuerpo" [formGroup]="datosperForm" *ngFor="let pd of list">
    <fieldset>
        <div class="row">
            <div class="col-lg-6">
                <h4>Datos Personales</h4>
                <br>        
                <p class="text-danger">Tipo de Documento</p>  
                <p class="text-danger">Apellido Paterno</p>
                <p class="text-danger">Apellido Materno</p>
                <p class="text-danger">Nombre</p>
                <p> {{ pd.persona_nombre }} </p>
                <p class="text-danger">Email</p>
                <p class="text-danger">Fecha de Nacimiento</p>
                <p class="text-danger">Edad</p>
                <p class="text-danger">Sexo</p>
                <br>  
            </div>
            <div class="col-lg-6">
                <br>
                <br>
                <p class="text-danger">Nro de Documento</p>
            </div>
        </div>
        <div class="row">
                <div class="col-lg-6">
                    <h4>Datos Nacimiento</h4>
                    <br>        
                    <p class="text-danger">Pais </p> <p> </p>
                    <p class="text-danger">Provincia</p>
                    <br>     
                </div>
                <div class="col-lg-6">
                    <br>
                    <br>
                    <p class="text-danger">Departamento</p>
                    <p class="text-danger">Distrito</p>
                </div>
        </div>
        <div class="row">
                <div class="col-lg-6">
                    <h4>Datos Domicilio</h4>
                    <br>        
                    <p class="text-danger">Telefono Fijo</p> 
                    <p class="text-danger">Direccion</p>
                    <br>     
                </div>
                <div class="col-lg-6">
                    <br>
                    <br>
                    <p class="text-danger">Numero Celular</p>
                </div>
        </div>
    </fieldset>
</div>

